html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    line-height: 1.13;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.page-header {
    background-color: #eeeeee;
}

.page-header__container {
    padding: 20px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:first-child) {
    margin-left: 47px;
}

.menu__link {
    display: block;
    font-weight: 500;
    line-height: 1.88;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.navigation__basket {
    position: relative;
    padding-left: 40px; 
    display: block; 
    font-weight: 500;
    line-height: 1.88;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.navigation__basket::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/basket-icon.svg");
    background-repeat: no-repeat;    
    left: 0;
    top: 5px;
}