/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px
}

.btn {
  background: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.page-header {
  background-color: #eeeeee;
}

.page-header__container {
  padding-top: 50px;
  padding-bottom: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 200px;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:first-child) {
  margin-left: 47px;
}

.menu__link:not(.current):hover,
.menu__link:not(.current):focus {
  color: #fb565a;
}

.menu__link:not(.current):active {
  color: #000000;
  opacity: 0.3;
}

.current::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: -3px;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.88;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.navigation__basket {
  position: relative;
  padding-left: 40px;
  margin-left: auto;
  padding-top: 12px;
  display: block;
  font-weight: 500;
  line-height: 1.88;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.navigation__basket::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 18px;
}

.navigation__basket:hover,
.navigation__basket:focus {
  color: #fb565a;
}

.navigation__basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo__img:not(.index):active {
  opacity: 0.3;
}

.slider {
  background-color: #eeeeee;
}

.slider__container {
  position: relative;
  min-height: 410px;
}

.slider__wrap {
  padding-top: 58px;
  padding-bottom: 80px;
}

.slider__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.slider__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.slider__title {
  position: relative;
  z-index: 2;
  margin: 0;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__text {
  margin: 0;
  margin-bottom: 38px;
  line-height: 24px;
  color: #283136;
}

.slider__image {
  margin-left: auto;
}

.slider__image {
  position: absolute;
  bottom: 0;
  right: 51px;
  z-index: 1;
  width: 700px;
  height: 410px;
}

.slider__image img {
  width: 700px;
  height: 410px;
}

.slider__link {
  display: block;
  width: 240px;
  height: 50px;
  padding: 16px 54px;
}

.slider__link:hover,
.slider__link:focus {
  background-color: #e74246;
}

.slider__link:active {
  background-color: #e74246;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-buttons {
  position: absolute;
  bottom: 90px;
  left: 556px;
  z-index: 3;
}

.slider-buttons__button {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-buttons__button--active::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  background-color: transparent;
}

.slider-buttons__button:not(:first-child) {
  margin-left: 13px;
}

.products__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.products__link {
  display: block;
  width: 160px;
  height: 50px;
  padding: 16px 40px;
}

.products__item {
  width: 300px;
  padding-top: 171px;
  background-repeat: no-repeat;
  background-size: 300px 146px;
  background-position: 0 0;
}

.products__item:not(:last-child) {
  margin-right: 100px;
}

.products__item--web {
  background-image: url("../img/advantage-picture-red.png");
  background-repeat: no-repeat;
}

.products__item--apps {
  background-image: url("../img/advantage-picture-green.png");
  background-repeat: no-repeat;
}

.products__item--presentation {
  background-image: url("../img/advantage-picture-yellow.png");
}

.products__link:hover,
.products__link:focus {
  background-color: #e74246;
}

.products__link:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products__link--green {
  background: #00ca74;
}

.products__link--green:hover,
.products__link--green:focus {
  background-color: #00bc6c;
}

.products__link--green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products__link--yellow {
  background-color: #efc849;
}

.products__link--yellow:hover,
.products__link--yellow:focus {
  background-color: #eab534;
}

.products__link--yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.products__text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about-us__container {
  padding-top: 37px;
  border-top: 2px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__stat {
  padding-top: 245px;
  width: 360px;
  background-image: url("../img/nerds-picture.png");
  background-position: 0 2px;
  background-size: 360px 208px;
  background-repeat: no-repeat;
}

.about-us__info {
  width: 651px;
}

sup {
  font-size: 26px;
  line-height: 40px;
}

.about-us__title {
  margin: 37px 0 32px 2px;
  font-size: 45px;
  line-height: 45px;
}

.about-us__text {
  margin: 0;
  margin-bottom: 41px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about-us__subtitle {
  margin: 0;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-transform: uppercase;
}

.about-us__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-us__item {
  position: relative;
  padding-left: 36px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about-us__item:not(:last-child) {
  margin-bottom: 24px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0;
  background-color: #fb565a;
}

.about-us__advantages {
  margin: 2px 0 31px 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages__list {
  margin: 0;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  width: 120px;
}

.advantages__percent {
  margin: 0;
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.advantages__items {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.partners_container {
  padding: 45px 51px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  position: relative;
}

.partners__item--html {
  padding-top: 17px;
  padding-right: 95px;
}

.partners__item--barber {
  padding-right: 104px;
}

.partners__item--barber::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 19px;
  left: -45px;
  background-color: #eeeeee;
}

.partners__item--pink {
  padding-top: 20px;
  padding-right: 120px;
}

.partners__item--pink::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 20px;
  left: -59px;
  background-color: #eeeeee;
}

.partners__item--mishka {
  padding-top: 6px;
}

.partners__item--mishka::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 19px;
  left: -64px;
  background-color: #eeeeee;
}

.partners__image {
  opacity: 0.2;
}

.partners__image:hover,
.partners__image:focus {
  opacity: 1;
}

.partners__image:active {
  opacity: 0.1;
}

.page-footer__wrap {
  position: relative;
  padding: 134px 0px 54px;
}

.page-footer__map {
  width: 100%;
  z-index: -1;
}

.page-footer__img {
  width: 1440px;
  margin: 0 auto;
}

.page-footer__map {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: -1;
}

.page-footer__contacts {
  position: relative;
  z-index: 1;
  padding: 49px 50px 47px;
  width: 319px;
  height: 309px;
  background-color: #ffffff;
}

.contacts__title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts__text {
  margin: 0;
  margin-bottom: 18px;
  line-height: 18px;
  color: #666666;
}

.contacts__phone {
  display: block;
  margin: 0;
  margin-bottom: 37px;
  text-decoration: none;
  line-height: 18px;
  color: #666666;
}

.contacts__link {
  display: block;
  padding: 16px 44px;
  margin: 0;
  width: 219px;
  height: 50px;
}

.page-footer__container--content {
  padding-top: 70px;
  padding-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.page-footer__item:not(:first-child) {
  margin-left: 9px;
}

.page-footer__link {
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.page-footer__link:hover,
.page-footer__link:focus {
  background-color: #e74246;
}

.page-footer__link:active svg {
  opacity: 0.3;
}

.page-footer__link:active {
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.page-footer__link--vk {
  padding: 33px 27px;
}

.page-footer__link--fb {
  padding: 31px 35px;
}

.page-footer__link--inst {
  padding: 30px;
}

.page-footer__sale {
  margin-left: 140px;
}

.page-footer__title {
  margin: 0;
  margin-top: 6px;
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.page-footer__offer {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 960px;
  height: 590px;
  padding: 63px 100px 84px;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal--open {
  display: block;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes show {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px;
}

.modal__title {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
  -webkit-animation-name: close;
          animation-name: close;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes close {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}

@keyframes close {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}

.modal--error input[type="text"],
.modal--error input[type="email"],
.modal--error .modal__textarea {
  border: solid 2px #e74246;
  color: #e74246;
}

.modal--error {
  -webkit-animation-name: shake;
          animation-name: shake;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50%) translateX(-10px);
            transform: translateX(-50%) translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-50%) translateX(10px);
            transform: translateX(-50%) translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50%) translateX(-10px);
            transform: translateX(-50%) translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-50%) translateX(10px);
            transform: translateX(-50%) translateX(10px);
  }
}

.modal__close:hover,
.modal__close:focus {
  opacity: 1;
}

.modal__close:active {
  opacity: 0.1;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__half-width,
.modal__full-width {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__full-width {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 47px;
}

.modal__label {
  margin-bottom: 9px;
  font-weight: bold;
  line-height: 18px;
}

.modal__input {
  width: 360px;
  height: 50px;
  padding: 16px;
  border: 1px solid #d7dcde;
}

.modal__input:focus {
  border: 1px solid #000000;
  color: #000000;
}

.modal__input:hover,
.modal__input:focus {
  color: #b4b9bb;
}

.modal__textarea {
  min-height: 118px;
  padding: 16px;
  border: 1px solid #d7dcde;
}

.modal__button {
  width: 259px;
  padding: 16px 83px;
  border: none;
}

.page-main__container {
  padding-top: 57px;
  padding-bottom: 108px;
  background-color: #eeeeee;
}

.page-main__title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.page-main__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
}

.filters__cost {
  margin-bottom: 54px;
}

.cost {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.cost__range-filter {
  width: 260px;
  margin-top: 49px;
}

.cost__title {
  margin: 0;
  margin-top: 2px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.cost__range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 41px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.cost__scale {
  height: 2px;
  background: #d7dcde;
}

.cost__bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.cost__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.cost__toggle--min {
  left: 18px;
}

.cost__toggle--max {
  left: 160px;
}

.cost__price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cost__min-price,
.cost__max-price {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.cost__price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 8px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.filters__grid {
  margin-bottom: 46px;
}

.grid__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.grid__wrap {
  margin: 0;
}

.grid__label {
  padding-left: 36px;
  padding-top: 4px;
  position: relative;
  line-height: 19px;
  color: #283136;
}

.grid__input:checked+.grid__label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-image: url(../img/radio-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  opacity: 0.4;
}

.grid__input+.grid__label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-image: url(../img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  opacity: 0.4;
}

.grid__label:hover::before,
.grid__input:checked+.grid__label:hover::before,
.grid__label:focus::before,
.grid__input:checked+.grid__label:focus::before {
  opacity: 1;
}

.grid__label:disabled,
.grid__input:checked+.grid__label:disabled {
  opacity: 0.3;
}

.grid__wrap:not(:last-child) {
  margin-bottom: 15px;
}

.filters__features {
  margin-bottom: 48px;
}

.features__wrap {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #283136;
}

.features__wrap:not(:last-child) {
  margin-bottom: 21px;
}

.features__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.features__label {
  position: relative;
  padding-left: 36px;
  padding-top: 3px;
}

.features__input+.features__label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  opacity: 0.4;
}

.features__input:checked+.features__label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-on.svg);
  background-position: 2px -1px;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  opacity: 0.4;
}

.features__label:hover::before,
.features__input:checked+.features__label:hover::before,
.features__label:focus::before,
.features__input:checked+.features__label:focus::before {
  opacity: 1;
}

.features__label:active,
.features__input:checked+.features__label:active {
  opacity: 0.3;
}

.filters__submit {
  width: 260px;
  padding: 16px 89px;
  border: none;
  background: #eeeeee;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

.filters__submit:hover,
.filters__submit:focus {
  background-color: #dfdfdf;
}

.filters__submit:active {
  background-color: #d5d5d5;
  outline: none;
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.goods__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 140px;
  margin-bottom: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort__list,
.sort__list-arrow {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.sort__list-arrow {
  margin-left: 50px;
}

.sort__list {
  margin-left: auto;
  margin-top: 3px;
}

.sort__item:not(:last-child) {
  margin-right: 25px;
}

.sort__arrows:not(:last-child) {
  margin-right: 18px;
}

.sort__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.sort__link--active {
  opacity: 1;
}

.sort__arrow {
  opacity: 0.3;
}

.sort__arrow--active {
  opacity: 1;
}

.sort__link:hover,
.sort__link:focus,
.sort__arrow:hover,
.sort__arrow:focus {
  opacity: 0.6;
}

.sort__link:active,
.sort__arrow:active {
  opacity: 1;
}

.goods__list {
  margin: 0;
  padding: 0;
  padding-left: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.goods__card {
  position: relative;
  margin-bottom: 32px;
  border-radius: 5px;
}

.goods__card:hover {
  -webkit-box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
          box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.goods__card:hover svg {
  fill: #4d4d4d;
}

.goods__card:hover .card__info {
  display: block;
}

.card__frame {
  height: 40px;
}

.card__frame svg {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__image {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card__info {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 360px;
  padding: 26px 52px 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #EEEEEE;
}

.info__link:hover,
.info__link:focus {
  color: #fb565a;
}

.info__link:active {
  color: #000000;
  opacity: 0.3;
}

.info__link {
  display: block;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.info__text {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 34px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.info__button {
  display: block;
  margin: 0 28px;
  width: 200px;
  padding: 16px 72px;
  line-height: 18px;
}

.info__button:hover,
.info__button:focus {
  background-color: #e74246;
}

.info__button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.goods__paginator {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  padding-left: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.paginator__item:not(:last-child) {
  margin-right: 11px;
}

.paginator__link {
  display: block;
  padding: 16px 20px;
  background: #eeeeee;
  border-radius: 3px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

.paginator__link:not(.paginator__link--active):hover,
.paginator__link:not(.paginator__link--active):focus {
  background: #dfdfdf;
}

.paginator__link:not(.paginator__link--active):active {
  opacity: 0.3;
  background: #d5d5d5;
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.paginator__link--active {
  padding: 13px 17px;
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #dbdbdb;
}

.next {
  display: block;
  width: 260px;
  padding: 16px 81px;
}

.page-footer__map-yandex {
  position: absolute;
  width: 100%;
  height: 416;
  top: 80px;
  left: 0;
}

.page-footer__wrap--catalog {
  position: relative;
  padding: 113px 0 54px;
}